{{#let
  (if (log-return @alwaysUndefined)
    (log-params-return-list @param1 @alwaysUndefined)
    (log-params-return-list @param1)
  ) as |myVar|}}
  <p>MyVar value is: <pre>{{myVar}}</pre></p>
{{/let}}
